body {
  padding-top: 60px;
}

.btn-link-in-dropdown {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background: none;
  border: none;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
}

.navbar-nav > li > form.button_to {
  margin-top: 15px;
  margin-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid transparent;

  button.navbar-link {
    padding: 0;
    margin: 0;
    color: #9d9d9d;

    &:hover {
      color: #fff;
    }
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
